.color {
    color: #000;
}

.en{
    $sides:flex-end;


}

@mixin side($side) {
    justify-content: $side;
    
}



h1{
    display: flex;
    @include side($sides)
}
@media (max-width:1200px){
    h1{
        display: flex;
        @include side($sides)
    }
}